* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body>header {
    /* Filho direto */
    width: 100%;
    height: 60px;
    background: #0C0F11;
    display: flex;
    gap: 25px;
    align-items: center;
    padding-left: 18%;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}


.logotipo img {
    height: 50px;
}

.menu a:link,
.menu a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.banner {
    display: flex;
    position: relative;
    align-items: center;
}

.banner img {
    width: 100%;
}

.tituloBanner {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    left: 0;
}

.tituloBanner h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.tituloBanner a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    background-color: #C86C2D;
    margin-top: 20PX;
    padding: 15px;
    border: solid 2px white;
    border-radius: 5px;
}

.tituloBanner img {
    width: 100%;
}

.nossosJogos {
    width: 100%;
    background-image: url('../img/bg-nossos-jogos.jpg');
    padding: 100px;
}

.nossosJogos h1 {
    color: black;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.nossosJogos h2 {
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.nossosJogos .artigos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.artigos {
    display: flex;
    width: 100%;
}

.artigos article {
    display: flex;
    width: 300px;
    height: 400px;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.artigos article h2 {
    padding-top: 30px;
}

.artigos article p {
    text-align: center;
    padding: 0 15px 0 15px;
}

.artigos article a {
    text-decoration: none;
    color: ;
    padding-top: 40px;
}